@model IEnumerable<AtelieDrinks.Models.Base_alcoolica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_bebida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custo_garrafa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custo_total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_bebida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custo_garrafa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.custo_total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_base_alcoolica">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_base_alcoolica">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_base_alcoolica">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
