@model AtelieDrinks.Models.Insumos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Insumos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_insumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_insumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.custo_insumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.custo_insumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_insumo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
