<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="@Url.Content("~/js/app.js")" defer></script>
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet">

    <title>Atelier Drinks</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/css/sb-admin-2.css")" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/imagens/logoad.png")">

    <script src="https://kit.fontawesome.com/fd016a7d8f.js" crossorigin="anonymous"></script>


</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">



        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion twitch" style="background-color: #471320" id="accordionSidebar">


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
                <div class="sidebar-brand-icon">
                    <img height="50px" src="@Url.Content("~/imagens/logoad.png")" />
                </div>
            </a>
            <!-- Divider -->

            <hr class="sidebar-divider">

            <center>
                <a href="User" style="text-decoration: none;">
                    <img height="100px" src="/imagens/user.png" class="imageuser" alt="" />
                    <h2 class="h2user">Bruno</h2>
                </a>
                
            </center>

            <br>

            <!-- Divider -->

            <hr class="sidebar-divider">


            <!-- Heading -->
            <div class="sidebar-heading" style="font-size: 12.5px; color: #d25e4f">
                Menu:
            </div>

            <!-- Nav Item - Página de usuários -->
            <li class="nav-item">
                <a class="nav-link" href="home">
                    <i class="fa-solid fa-champagne-glasses" style="margin-left: 1.25%"></i>
                    <span style="font-size: 14.5px; margin-left: 1.25%; color:white">Dashboard</span>
                </a>
            </li>

            <!-- Nav Item - Página de funcionários -->
            <li class="nav-item">
                <a class="nav-link" href="Orçamento">
                    <i class="fa-solid fa-champagne-glasses"></i>
                    <span style="font-size: 14.5px; color: white">Orçamento</span>
                </a>
            </li>
            <!-- Nav Item - Página de funcionários -->
            <li class="nav-item">
                <a class="nav-link" href="estoque">
                    <i class="fa-solid fa-champagne-glasses"></i>
                    <span style="font-size: 14.5px; color: white"> Estoque</span>
                </a>
            </li>
            <!-- Nav Item - Página de funcionários -->
            <li class="nav-item">
                <a class="nav-link" href="Historico">
                    <i class="fa-solid fa-champagne-glasses"></i>
                    <span style="font-size: 14.5px; color: white">Historico</span>
                </a>
            </li>
            <!-- Nav Item - Página de funcionários -->
            <li class="nav-item">
                <a class="nav-link" href="fichaTecnica">
                    <i class="fa-solid fa-champagne-glasses"></i>
                    <span style="font-size: 14.5px; color: white">Fichas Técnicas</span>
                </a>
            </li>
            <!-- Nav Item - Página de funcionários -->
            <li class="nav-item">
                <a class="nav-link" href="Insumos">
                    <i class="fa-solid fa-champagne-glasses"></i>
                    <span style="font-size: 14.5px; color: white"> Insumos</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider cor" style="margin-bottom: -1%">

            <!-- Nav Item - Logout -->
            <li class="nav-item">
                <a class="nav-link" href="{{ route('logout') }}"
                   onclick="event.preventDefault();
                              document.getElementById('logout-form').submit();">
                    <i class="fas fa-sign-out-alt iconmenu" style="margin-left: 1%"></i>
                    <span style="font-size: 14.5px; margin-left: 1%; color: #d25e4f">Logout</span>
                </a>
                <form id="logout-form" action="{{ route('logout') }}" method="POST" class="d-none">

                </form>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block cor">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="background-color:black;">

                @RenderBody()
                @RenderSection("Scripts", required: false)
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer" style="background-color: #b3b3b3">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto corfonte">
                        <span>Copyright &copy; CONSELT 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- Core plugin JavaScript-->
    <script defer src="js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script defer src="js/sb-admin-2.js"></script>

</body>

</html>

<style>



</style>

